.hero {
  margin: auto;
  font-size: 2.5rem;
  position: relative;
  width: 90%;
  top: 35%;
  color: white;
}
.description{
  width: 90%;
  margin: auto;
}

video {
  width: 100%;
  margin: 2.5% auto;
}